/phpmyadmin
.htaccess
/config.php
/admin/config.php
robots.txt
*.sql
ya*.html
wmail*.html
goog*.html
/wa-data
/image/cache/*
/system/storage/*

# Config and Htaccess Files
/upload/.htaccess
/upload/config.php
/upload/admin/config.php

# Image
# /image/*
 
# Image Cache Files
/upload/image/cache/*
!/upload/image/cache/index.html
 
# Backup Files
/upload/system/storage/backup/*
!/upload/system/storage/backup/index.html
 
# System Cache Files
/upload/system/storage/cache/*
!/upload/system/storage/cache/index.html
 
# Download Files
/upload/system/storage/download/*
!/upload/system/storage/download/index.html
 
# Log Files
/upload/system/storage/logs/*
!/upload/system/storage/logs/index.html
 
# Marketplace Files
# /upload/system/storage/marketplace/*
# !/upload/system/storage/marketplace/index.html
 
# Session Files
/upload/system/storage/session/*
!/upload/system/storage/session/index.html
 
# Upload Files
/upload/system/storage/upload/*
!/upload/system/storage/upload/index.html
 
# IDE Project filescd  xampp 
/.idea
/upload/.idea

/system/storage/logs/error.log
mailslog
debug
/debugm
/mails
debugm
mails
